<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @ballot.description %>
</p>

<p>
  <b>Status:</b>
  <%= @ballot.status %>
</p>

<p>
  <b>deadline:</b>
  <%= @ballot.deadline %>
</p>

<p>
  <b>questions:</b>
  <ul>
	<% for question in @ballot.questions %>
	  <li><%= question.question %></li>
	<% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
