<p id="notice"><%= notice %></p>

<% if @survey.status == false %>

	<p>This survey has expired.</p>

<% else %>

	<h3><%= @survey.title %></h3>

	<p>
	  <i><%= @survey.description %></i>
	</p>

	<p>
	  <b>Notice:</b> This survey will close at <%= @survey.deadline %>.
	</p>

	<p>
	  <b>Questions:</b>
	  <ul>
		<% for question in @survey.questions %>
		  <li>
		    <%= question.question %><br />
		    <ol style="list-style-type: none;">
			  <li><input type="radio" name="question_<%= question.id %>" value="yes" /> Yes</li>
			  <li><input type="radio" name="question_<%= question.id %>" value="no" /> No</li>
			  <li><input type="radio" name="question_<%= question.id %>" value="decline" /> Decline</li>
			</ol>
		  </li>
		<% end %>
	  </ul>
	</p>
	
	<p>
	  <input type="submit" method="POST" value="Submit" />
	</p>

<% end %>
